# Week 7 & 8

## Data Cleaning & Transforming

### 'So Much Data Candy, Seriously'

In [489]:
import pandas as pd
import numpy as np

In [490]:
candy_df = pd.read_excel('/Users/theranmeadows/Desktop/dsc540datapreparation/week7&8/candyhierarchy2017.xlsx')
candy_df.head()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

#### Chapter 7

In [ ]:
candy_df.shape

(2460, 120)

##### Filter Out Missing Data

In [ ]:
# Get the count of how many Nans each column has
nan_count = candy_df.isna().sum()

# This will sort the top most columns with Nans
nan_count.sort_values(ascending = False).head(10)

Unnamed: 113                 2451
Q12: MEDIA [Yahoo]           2393
Q12: MEDIA [Daily Dish]      2375
Q12: MEDIA [ESPN]            2361
Q9: OTHER COMMENTS           2074
Q8: DESPAIR OTHER            1743
Q7: JOY OTHER                1549
Q12: MEDIA [Science]         1098
Q6 | JoyJoy (Mit Iodine!)    1026
Q6 | Maynards                1024
dtype: int64

In [ ]:
# The unnamed column has only 9 values of the 2460 rows. So it must be dropped.
candy_df = candy_df.drop('Unnamed: 113', axis = 1)
candy_df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

In [ ]:
total_rows = candy_df.shape[0]
total_rows

2460

In [ ]:
# I will keep rows that have 50 or more of the columns filled in
candy_df = candy_df.dropna(thresh = 50)
candy_df.shape

(1784, 119)

In [ ]:
candy_df.head()

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,Mounds,NaN,Bottom line is Twix is really the only candy w...,White and gold,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,"Reese's crispy crunchy bars, 5th avenue bars, ...",NaN,Raisins can go to hell,White and gold,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,NaN,White and gold,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
5,90272852,No,Male,NaN,NaN,NaN,JOY,DESPAIR,JOY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
7,90272854,No,Male,33,canada,ontario,JOY,DESPAIR,JOY,DESPAIR,...,using my elbows to get in front of the little ...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,Friday,NaN,1.0,NaN,NaN,"(55, 5)"

#### Replace Values

In [ ]:
# Values in the Age column that are not ints or realistic values will be filled in with the median age
candy_df['Q3: AGE'].unique()

array([44, 40, 23, nan, 33, 53, 56, 64, 43, 37, 59, 48, 45, 49, 34, 35,
       38, 58, 50, 47, 52, 63, 65, 41, 31, 61, 46, 54, 62, 29, 42, 36, 32,
       28, 69, 67, 39, 30, 25, 22, 51, 70, 24, 27, 18, 19, 'Old enough',
       57, 66, 12, 'Many', 60, 55, '?', 21, 11, 'no', 68, 20, 6, 10, 71,
       90, 13, 26, '45-55', 312, 72, 99, 'hahahahaha', 9, 88, 74, 102,
       'older than dirt', 15, 8, 75, 17, 'Enough', 'See question 2',
       '24-50', 7, 14, 'Over 50', 76, 100, 1000, 16, '46 Halloweens.',
       'ancient', 77, 'OLD', 'MY NAME JEFF', 4, 73, 'old enough',
       'I can remember when Java was a cool new language'], dtype=object)

In [ ]:
type(candy_df.iloc[0,3])

int

In [ ]:
for age in candy_df['Q3: AGE']:
    if type(age) == 'str':
        age = age.replace(age, 0)

In [ ]:
# def clean_age(column):
#     for value in column:
#         if type(value) == 'str':
#             column = column.replace(value, 0)
#     # return type(value)
#     return column.unique()

In [ ]:
clean_age(candy_df['Q3: AGE'])

array([44, 40, 23, nan, 33, 53, 56, 64, 43, 37, 59, 48, 45, 49, 34, 35,
       38, 58, 50, 47, 52, 63, 65, 41, 31, 61, 46, 54, 62, 29, 42, 36, 32,
       28, 69, 67, 39, 30, 25, 22, 51, 70, 24, 27, 18, 19, 'Old enough',
       57, 66, 12, 'Many', 60, 55, '?', 21, 11, 'no', 68, 20, 6, 10, 71,
       90, 13, 26, '45-55', 312, 72, 99, 'hahahahaha', 9, 88, 74, 102,
       'older than dirt', 15, 8, 75, 17, 'Enough', 'See question 2',
       '24-50', 7, 14, 'Over 50', 76, 100, 1000, 16, '46 Halloweens.',
       'ancient', 77, 'OLD', 'MY NAME JEFF', 4, 73, 'old enough',
       'I can remember when Java was a cool new language'], dtype=object)

In [ ]:
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('Old enough', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('Many', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('?', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('no', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('45-55', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('hahahahaha', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace(312, 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace(102, 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('older than dirt', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('Enough', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('See question 2', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('24-50', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('Over 50', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('46 Halloweens.', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('ancient', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('OLD', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('MY NAME JEFF', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('old enough', 0)
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].replace('I can remember when Java was a cool new language', 0)

In [ ]:
candy_df['Q3: AGE'].unique()

array([  44.,   40.,   23.,   nan,   33.,   53.,   56.,   64.,   43.,
         37.,   59.,   48.,   45.,   49.,   34.,   35.,   38.,   58.,
         50.,   47.,   52.,   63.,   65.,   41.,   31.,   61.,   46.,
         54.,   62.,   29.,   42.,   36.,   32.,   28.,   69.,   67.,
         39.,   30.,   25.,   22.,   51.,   70.,   24.,   27.,   18.,
         19.,    0.,   57.,   66.,   12.,   60.,   55.,   21.,   11.,
         68.,   20.,    6.,   10.,   71.,   90.,   13.,   26.,   72.,
         99.,    9.,   88.,   74.,   15.,    8.,   75.,   17.,    7.,
         14.,   76.,  100., 1000.,   16.,   77.,    4.,   73.])

In [ ]:
# will set the columns type to numeric to check for any values left out
candy_df['Q3: AGE'] = pd.to_numeric(candy_df['Q3: AGE'])

In [ ]:
# find the median age useing the numeric values
median_age = candy_df['Q3: AGE'].median()
median_age

42.0

In [ ]:
#fill in the nan values with the median age
candy_df['Q3: AGE'] = candy_df['Q3: AGE'].fillna(median_age)

In [ ]:
# check for any lingering nan values
candy_df['Q3: AGE'].isna().sum()

0

### Chapter 8

#### Create A Hieratchial Index

In [ ]:
candy_df_heir = candy_df.set_index(['Q1: GOING OUT?', 'Q2: GENDER', 'Internal ID'])

In [ ]:
candy_df_heir

                                       Q3: AGE Q4: COUNTRY  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821        44.0        USA
                          90272840        40.0          us
                          90272841        23.0         usa
                          90272852        42.0         NaN
                          90272854        33.0      canada
...                                        ...         ...
               Female     90314022        26.0         USA
               Male       90314359        24.0         USA
               Female     90314580        33.0         USA
                          90314634        26.0        USA
                          90314802        66.0         usa

                                      Q5: STATE, PROVINCE, COUNTY, ETC  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                                  NM
                          90272840                                  or
                          90272841                            exton pa
                          90272852                                 NaN
                          90272854                             ontario
...                                                                ...
               Female     90314022                            Michigan
               Male       90314359                                  MD
               Female     90314580                            New York
                          90314634                           Tennessee
                          90314802                        Pennsylvania

                                      Q6 | 100 Grand Bar  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                   MEH
                          90272840                   MEH
                          90272841                   JOY
                          90272852                   JOY
                          90272854                   JOY
...                                                  ...
               Female     90314022                   JOY
               Male       90314359                   JOY
               Female     90314580                   MEH
                          90314634                   MEH
                          90314802               DESPAIR

                                      Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                                               DESPAIR
                          90272840                                               DESPAIR
                          90272841                                               DESPAIR
                          90272852                                               DESPAIR
                          90272854                                               DESPAIR
...                                                                                  ...
               Female     90314022                                                   MEH
               Male       90314359                                               DESPAIR
               Female     90314580                                               DESPAIR
                          90314634                                               DESPAIR
                          90314802                                               DESPAIR

                                      Q6 | Any full-sized candy bar  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                              JOY
                          90272840                              JOY
                          90272841                              JOY
                          90272852                              JOY
                          90272854                              JOY
...                                                             ...
               Female     90314022                              JOY
               Male       90314359                              MEH
               Female     90314580                              JOY
                          90314634                              JOY
                          90314802                              JOY

                                      Q6 | Black Jacks  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                 MEH
                          90272840                 MEH
                          90272841             DESPAIR
                          90272852                 NaN
                          90272854             DESPAIR
...                                                ...
               Female     90314022             DESPAIR
               Male       90314359             DESPAIR
               Female     90314580                 NaN
                          90314634             DESPAIR
                          90314802             DESPAIR

                                      Q6 | Bonkers (the candy)  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                     DESPAIR
                          90272840                         MEH
                          90272841                         MEH
                          90272852                         NaN
                          90272854                     DESPAIR
...                                                        ...
               Female     90314022                         MEH
               Male       90314359                     DESPAIR
               Female     90314580                         NaN
                          90314634                         MEH
                          90314802                     DESPAIR

                                      Q6 | Bonkers (the board game)  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                          DESPAIR
                          90272840                          DESPAIR
                          90272841                          DESPAIR
                          90272852                              NaN
                          90272854                              MEH
...                                                             ...
               Female     90314022                              MEH
               Male       90314359                              MEH
               Female     90314580                              NaN
                          90314634                              JOY
                          90314802                          DESPAIR

                                      Q6 | Bottle Caps  ...  \
Q1: GOING OUT? Q2: GENDER Internal ID                   ...
No             Male       90272821             DESPAIR  ...
                          90272840                 MEH  ...
                          90272841                 MEH  ...
                          90272852                 MEH  ...
                          90272854                 JOY  ...
...                                                ...  ...
               Female     90314022                 MEH  ...
               Male       90314359                 MEH  ...
               Female     90314580                 NaN  ...
                          90314634             DESPAIR  ...
                          90314802             DESPAIR  ...

                                                                           Q7: JOY OTHER  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                                                Mounds
                          90272840     Reese's crispy crunchy bars, 5th avenue bars, ...
                          90272841                                                   NaN
                          90272852                                                   NaN
                          90272854     using my elbows to get in front of the little ...
...                                                                                  ...
               Female     90314022                                                   NaN
               Male       90314359                                                Mounds
               Female     90314580                                                   NaN
                          90314634     Tiny bottles of maple syrup as given out by Cr...
                          90314802                                                   NaN

                                                                       Q8: DESPAIR OTHER  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                                                   NaN
                          90272840                                                   NaN
                          90272841                                                   NaN
                          90272852                                                   NaN
                          90272854     when the little kids get the big chocolate bar...
...                                                                                  ...
               Female     90314022                                                   NaN
               Male       90314359                                      Fruit Stripe Gum
               Female     90314580                                                Capers
                          90314634                                                   NaN
                          90314802                                                   NaN

                                                                      Q9: OTHER COMMENTS  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821     Bottom line is Twix is really the only candy w...
                          90272840                                Raisins can go to hell
                          90272841                                                   NaN
                          90272852                                                   NaN
                          90272854           first person to give out cans of beer, wins
...                                                                                  ...
               Female     90314022                                                   NaN
               Male       90314359                                                   NaN
               Female     90314580                                                   NaN
                          90314634                                                   NaN
                          90314802     You hit all my chocolate highlights, and broug...

                                           Q10: DRESS Q11: DAY  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821     White and gold   Sunday
                          90272840     White and gold   Sunday
                          90272841     White and gold   Friday
                          90272852                NaN      NaN
                          90272854     Blue and black   Friday
...                                               ...      ...
               Female     90314022     White and gold   Friday
               Male       90314359     White and gold   Friday
               Female     90314580     Blue and black   Friday
                          90314634     Blue and black   Friday
                          90314802     White and gold   Sunday

                                      Q12: MEDIA [Daily Dish]  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                        NaN
                          90272840                        NaN
                          90272841                        NaN
                          90272852                        NaN
                          90272854                        NaN
...                                                       ...
               Female     90314022                        NaN
               Male       90314359                        NaN
               Female     90314580                        NaN
                          90314634                        NaN
                          90314802                        1.0

                                      Q12: MEDIA [Science] Q12: MEDIA [ESPN]  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                     1.0               NaN
                          90272840                     1.0               NaN
                          90272841                     1.0               NaN
                          90272852                     1.0               NaN
                          90272854                     1.0               NaN
...                                                    ...               ...
               Female     90314022                     1.0               NaN
               Male       90314359                     NaN               NaN
               Female     90314580                     1.0               NaN
                          90314634                     1.0               NaN
                          90314802                     NaN               NaN

                                      Q12: MEDIA [Yahoo]  \
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                   NaN
                          90272840                   NaN
                          90272841                   NaN
                          90272852                   NaN
                          90272854                   NaN
...                                                  ...
               Female     90314022                   NaN
               Male       90314359                   NaN
               Female     90314580                   NaN
                          90314634                   NaN
                          90314802                   NaN

                                      Click Coordinates (x, y)
Q1: GOING OUT? Q2: GENDER Internal ID
No             Male       90272821                    (84, 25)
                          90272840                    (75, 23)
                          90272841                    (70, 10)
                          90272852                    (75, 23)
                          90272854                     (55, 5)
...                                                        ...
               Female     90314022                    (68, 39)
               Male       90314359                         NaN
               Female     90314580                    (70, 26)
                          90314634                    (67, 35)
                          90314802                    (19, 26)

[1784 rows x 116 columns]

#### Pivot the Data

In [ ]:
candy_df_pivoted =  candy_df.pivot(index = 'Internal ID', columns = 'Q2: GENDER', values = 'Q3: AGE')

In [ ]:
candy_df_pivoted

Q2: GENDER   NaN  Female  I'd rather not say  Male  Other
Internal ID
90272821     NaN     NaN                 NaN  44.0    NaN
90272840     NaN     NaN                 NaN  40.0    NaN
90272841     NaN     NaN                 NaN  23.0    NaN
90272852     NaN     NaN                 NaN  42.0    NaN
90272854     NaN     NaN                 NaN  33.0    NaN
...          ...     ...                 ...   ...    ...
90314022     NaN    26.0                 NaN   NaN    NaN
90314359     NaN     NaN                 NaN  24.0    NaN
90314580     NaN    33.0                 NaN   NaN    NaN
90314634     NaN    26.0                 NaN   NaN    NaN
90314802     NaN    66.0                 NaN   NaN    NaN

[1784 rows x 5 columns]

### Chapter 10

#### Grouping with Index Levels

In [ ]:
candy_df_heir.groupby(level = 'Q2: GENDER', axis = 0).count()

,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,...,Q7: JOY OTHER,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q2: GENDER,,,,,,,,,,,,,,,,,,,,,
Female,612,610,604,579,589,609,499,486,477,571,...,342,271,139,585,588,53,467,15,9,546
I'd rather not say,60,54,54,59,60,60,50,50,51,55,...,37,28,26,55,54,0,43,1,5,49
Male,1076,1068,1055,1038,1037,1070,924,908,901,1032,...,509,396,207,1029,1046,30,811,81,52,964
Other,26,26,25,22,25,26,17,18,18,26,...,17,16,9,24,24,0,23,0,1,24

#### Cross Tabs

In [ ]:
candy_df_crosstab = pd.crosstab(candy_df['Q3: AGE'], candy_df['Q2: GENDER'])

In [ ]:
candy_df_crosstab

Q2: GENDER  Female  I'd rather not say  Male  Other
Q3: AGE
0.0              4                   4     9      2
4.0              0                   0     1      0
6.0              1                   0     0      0
7.0              0                   0     1      0
8.0              1                   0     1      0
...            ...                 ...   ...    ...
88.0             0                   1     0      0
90.0             0                   1     1      0
99.0             0                   1     0      0
100.0            0                   1     0      0
1000.0           0                   1     0      0

[79 rows x 4 columns]

### Chapter 11

In [ ]:
boing_candy_df = pd.read_excel('/Users/theranmeadows/Desktop/dsc540datapreparation/week7&8/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')
boing_candy_df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

#### Convert between string and date time

In [ ]:
boing_candy_df['date_str'] = boing_candy_df['Timestamp'].astype(str)
boing_candy_df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore,date_str
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:09:23.033
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:09:54.798
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:13:06.734
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:14:17.192
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN,2016-10-24 05:14:24.625

#### Generate date range

In [ ]:
# find the number of data entries
date_entries_count = boing_candy_df.shape[0]
date_entries_count

1259

In [488]:
boing_candy_df['date_range'] = pd.date_range('2016-10-24', periods = date_entries_count )
boing_candy_df.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore,date_str,date_range
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:09:23.033,2016-10-24
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:09:54.798,2016-10-25
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN,2016-10-24 05:13:06.734,2016-10-26
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN,2016-10-24 05:14:17.192,2016-10-27
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN,2016-10-24 05:14:24.625,2016-10-28