# Milestone 2

In [367]:
import pandas as pd

In [368]:
marvel_main_df = pd.read_csv("/Users/theranmeadows/Desktop/dsc540datapreparation/final_project/marvel-wikia-data.csv")
marvel_main_df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

## Transformation 1

### Deleting columns that will not be used

In [369]:
marvel_main_df = marvel_main_df[['name', 'ID', 'ALIGN', 'SEX']]
marvel_main_df.head()

,name,ID,ALIGN,SEX
0,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters
1,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters
2,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters
3,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters
4,Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters

## Transformation 2

### Changing column names to be more identifiable

In [370]:
marvel_main_df = marvel_main_df.rename(columns = {'name' : 'superhero_name', 'ID' : 'secret_ID?', 'ALIGN' : 'alignment', 'SEX': 'gender'})
marvel_main_df.head()

,superhero_name,secret_ID?,alignment,gender
0,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters
1,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters
2,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters
3,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters
4,Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters

## Transformation 3

### Split superhero_name column to form new column for name

In [371]:
# This line creates a new column that contains evverything in the 'superhero_name' column after the first '('

marvel_main_df['name'] = marvel_main_df['superhero_name'].str.split('(').str[1]
marvel_main_df.head()

,superhero_name,secret_ID?,alignment,gender,name
0,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters,Peter Parker)
1,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters,Steven Rogers)
2,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters,"James \""Logan\"" Howlett)"
3,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters,"Anthony \""Tony\"" Stark)"
4,Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters,Thor Odinson)

In [372]:
# This line cleans up the 'superhero_name' column by keeping everything before the first '('

marvel_main_df['superhero_name'] = marvel_main_df['superhero_name'].str.split('(').str[0]
marvel_main_df.head()

,superhero_name,secret_ID?,alignment,gender,name
0,Spider-Man,Secret Identity,Good Characters,Male Characters,Peter Parker)
1,Captain America,Public Identity,Good Characters,Male Characters,Steven Rogers)
2,Wolverine,Public Identity,Neutral Characters,Male Characters,"James \""Logan\"" Howlett)"
3,Iron Man,Public Identity,Good Characters,Male Characters,"Anthony \""Tony\"" Stark)"
4,Thor,No Dual Identity,Good Characters,Male Characters,Thor Odinson)

## Transformation 4

### Remove the ')' and '\\' charaters from the column

In [373]:
marvel_main_df['name'] = marvel_main_df['name'].str.replace(')', '')
marvel_main_df['name'] = marvel_main_df['name'].str.replace('\\', '')
marvel_main_df.head()

,superhero_name,secret_ID?,alignment,gender,name
0,Spider-Man,Secret Identity,Good Characters,Male Characters,Peter Parker
1,Captain America,Public Identity,Good Characters,Male Characters,Steven Rogers
2,Wolverine,Public Identity,Neutral Characters,Male Characters,"James ""Logan"" Howlett"
3,Iron Man,Public Identity,Good Characters,Male Characters,"Anthony ""Tony"" Stark"
4,Thor,No Dual Identity,Good Characters,Male Characters,Thor Odinson

## Transformation 5

### Make values to be more readable

In [374]:
marvel_main_df['alignment'] = marvel_main_df['alignment'].str.replace('Good Characters', 'good')
marvel_main_df['alignment'] = marvel_main_df['alignment'].str.replace('Neutral Characters', 'neutral')
marvel_main_df['alignment'] = marvel_main_df['alignment'].str.replace('Bad Characters', 'bad')
marvel_main_df.head()

,superhero_name,secret_ID?,alignment,gender,name
0,Spider-Man,Secret Identity,good,Male Characters,Peter Parker
1,Captain America,Public Identity,good,Male Characters,Steven Rogers
2,Wolverine,Public Identity,neutral,Male Characters,"James ""Logan"" Howlett"
3,Iron Man,Public Identity,good,Male Characters,"Anthony ""Tony"" Stark"
4,Thor,No Dual Identity,good,Male Characters,Thor Odinson

In [375]:
marvel_main_df['gender'] = marvel_main_df['gender'].str.replace('Male Characters', 'm')
marvel_main_df['gender'] = marvel_main_df['gender'].str.replace('Female Characters', 'f')
marvel_main_df.head()

     superhero_name        secret_ID? alignment gender                   name
0       Spider-Man    Secret Identity      good      m           Peter Parker
1  Captain America    Public Identity      good      m          Steven Rogers
2        Wolverine    Public Identity   neutral      m  James "Logan" Howlett
3         Iron Man    Public Identity      good      m   Anthony "Tony" Stark
4             Thor   No Dual Identity      good      m           Thor Odinson

In [376]:
marvel_main_df['secret_ID?'] = marvel_main_df['secret_ID?'].str.replace('Secret Identity', 'yes')
marvel_main_df['secret_ID?'] = marvel_main_df['secret_ID?'].str.replace('Public Identity', 'no')
marvel_main_df['secret_ID?'] = marvel_main_df['secret_ID?'].str.replace('No Dual Identity', 'no')
marvel_main_df.head()

     superhero_name secret_ID? alignment gender                   name
0       Spider-Man         yes      good      m           Peter Parker
1  Captain America          no      good      m          Steven Rogers
2        Wolverine          no   neutral      m  James "Logan" Howlett
3         Iron Man          no      good      m   Anthony "Tony" Stark
4             Thor          no      good      m           Thor Odinson

#### Ethical implacations?

There really is not ethical implacations when cleaning and formating my data set. However, from an acuracy standpoint, ther may be some dificulties in counting duplicates or not. The Marvel Universe contains multiples of the heros that most of us wouldn't know about. This esentially creates a new character that shares almost everything with another.